<section class="login">
  <div class="card-content">
    <h4 class="title">Login</h4>

    <div class="box">
      <div class="form">
        <div class="data mb-2">
          <span class="data-icon">
            <fa-icon [icon]="userIcon"></fa-icon>
            <input type="text" placeholder="E-mail" />
          </span>

          <span class="data-icon">
            <fa-icon [icon]="passwordIcon"></fa-icon>
            <input type="text" placeholder="Senha" />
          </span>
        </div>

        <div class="save-password">
          <span class="remember">
            <input type="checkbox" name="remember" id="remember" />
            <label for="remember">Lembrar-me</label>
          </span>

          <span class="forgot">Esqueceu a senha?</span>
        </div>
      </div>

      <div class="check-user">
        <button class="mb-2">Login</button>
        <span class="register-content">
          Nenhuma conta ainda?
          <span class="register"> Registrar </span>
        </span>
      </div>

      <!-- <div class="sso">
      <span>Outra forma de acessar</span>
    </div> -->
    </div>
  </div>
  <div>
    <div class="img"></div>
  </div>
</section>
